


<!--
    <div class="event-navbar  container-fluid">
      <span class="navbar-brand no-click">Event Management</span>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="btn btn-default"><strong>Create Event</strong></a></li>
        </ul>
    </div>
-->
 <div class="event-navbar container-fluid">
            <form id="ajax-form" class="navbar-form navbar-right" action="{% url 'all_events' %}" data-redirect="{% url 'all_events' %}"role="form" method="get">
              <div class="form-group">
              {{form.search_term}}
              </div>
              <input type="submit" class="btn btn-default" value="Submit">
              <button class="btn btn-default clear-search">Clear</button>
            </form>
</div> 

<div class="box">
    <div class="box-header">
        <div class="box-name">
            <span>All Approved Events</span>
        </div>
        <div class="box-icons">
            <a class="expand-link" title='Expand the table'>
                <i class="fa fa-expand"></i>
            </a>
        </div>
    </div>
    <div class="box-content no-padding">
        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th> 
                </tr>
            </thead>
            <tbody>
            <!-- Start: list_row -->
            {% for reservation in reservation_list %}

                <tr  data-href="{{reservation.event.get_absolute_url}}" class="event-ajax-link row-link">
                    <td>{{reservation.event.name}}</td>
                    <td>{{reservation.event.category}}</td>
                    <td> {{reservation.event.description_short}} </td>
                    <td>
                    {% if reservation.start_datetime.date == reservation.end_datetime.date %}
                        {{reservation.start_datetime.date}}
                    {% else %}
                        {{reservation.start_datetime.date}} - {{reservation.end_datetime.date}}
                    {% endif %}
                    </td>
                    <td>{{reservation.start_datetime.time}} - {{reservation.end_datetime.time}}</td>
                    <td>{{reservation.location}}</td>
                </tr>



            {% endfor %}
            
            <!-- End: list_row -->
            </tbody>
            
        </table>
    </div>
</div>

<script type="text/javascript">
    $('.event-ajax-link').click( function (e) {
        e.preventDefault();
        var url;
        if($(this).is('tr')){
            url = $(this).attr('data-href');
        }
        else{
            url = $(this).attr('href');
        }
        window.location.hash = url;
        LoadAjaxContent(url);
    });

    $(".clear-search").click(function(){
        $("#id_search_term").val("");
    });

    var frm = $('#ajax-form');
    frm.submit( function() {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function(data) {
                window.location.hash = frm.attr('data-redirect')
                $('#ajax-content').html(data);
                $('#ajax-content .ajax-link').click( AjaxContentLink );
            },
            error: function(data) {
                $('#ajax-error').html('Form could not be submitted.');
            }
        });
        return false;
    });
    
    
</script>