
<h2 class="page-header">Edit Event</h2>
<form method='post' action="{% url 'create_event' %}" role="form" id="ajax-form">{% csrf_token %}
    <p>
        <label>{{ event_form.name.label }}:</label>
        {{ event_form.name.errors }}
        {{ event_form.name }}
    </p>
    <p>
        <label>{{ event_form.category.label }}:</label>
        {{ event_form.category.errors }}
        {{ event_form.category }}
    </p>

    <p>
        <label>{{ event_form.description.label }}:</label>
        {{ event_form.description.errors }} 
        {{ event_form.description }}
    </p>

    <p>
     <label>{{ reservation_form.location.label }}:</label>
        {{ reservation_form.location.errors }}
        {{ reservation_form.location }}
    </p>

    <!-- Dates/Times -->
    <div class="row">   
        <div class="col-sm-6">
        <table class="table table-condensed table-borderless">
            <tr>
                <td>
                    <label for="id_start_datetime">Start Date/Time:</label> 
                </td>
                <td>
                {{ reservation_form.start_datetime.errors }}
                 <div class="input-group date datetimepicker">
                    {{reservation_form.start_datetime}}
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calender"></span></span>
                </div>
                </td>
            </tr>
        </table>
        </div>
        <div class="col-sm-6">
        <table class="table table-condensed table-borderless">
            <tr>
                <td>
                    <label for="id_end_datetime">End Date/Time:</label> 
                </td>
                <td>
                {{ reservation_form.end_datetime.errors }}
                 <div class="input-group date datetimepicker">
                    {{ reservation_form.end_datetime}}
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calender"></span></span>
                </div>
                </td>
            </tr>
        </table>
        </div>
    </div>
    


     <!-- Prices -->
     <div class="row">
         <div class="col-sm-4">
            <table class="table table-condensed table-borderless">
                 <tr>
                     <td>
                        <label>Student:</label>
                     </td>
                     <td>
                         {{event_form.student_fee.errors}}
                         {{event_form.student_fee}}
                     </td>
                 </tr>
             </table>
         </div>
         <div class="col-sm-4">
            <table class="table table-condensed table-borderless">
                 <tr>
                     <td>
                        <label>Staff:</label>
                     </td>
                     <td>
                         {{event_form.staff_fee.errors}}
                         {{event_form.staff_fee}}
                     </td>
                 </tr>
             </table>
         </div>
         <div class="col-sm-4">
            <table class="table table-condensed table-borderless">
                 <tr>
                     <td>
                        <label>Public:</label>
                     </td>
                     <td>
                         {{event_form.public_fee.errors}}
                         {{event_form.public_fee}}
                     </td>
                 </tr>
             </table>
        </div>
     </div>
    <!-- End Prices -->
    <p>
     <label>{{ event_form.is_public.label }}: </label>
        {{ event_form.is_public }}
    </p>   
    <hr>
    <input class="btn btn-primary" type="submit" value="Create  Event"/>

</form>
<p id="ajax-error"></p>
{% if messages %}
<ul>
{% for message in messages %}
    <li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}



<script type="text/javascript">
   $(function() { 
        var datetime_format = 'MM/DD/YY HH:mm';

        $('.datetimepicker').datetimepicker({format: datetime_format});

        $("input[type='number']").TouchSpin({
            min: 0,
            max: 9999,
            stepinterval: 1,
            decimals: 2,
            prefix: '$'
        });

        var frm = $('#ajax-form');
        frm.submit( function() {
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function(data) {
                    $('#ajax-content').html(data);
                },
                error: function(data) {
                    $('#ajax-error').html('Form could not be submitted.');
                }
            });
            return false;
        });
    });
</script>