
<h2 class="page-header">Event Details</h2>
<br>
<table class="table table-striped">
    <tr>
        <td>Name: </td>
        <td>{{event.name}}</td>
    </tr>
    <tr>
        <td>Category: </td>
        <td>{{event.category}}</td>
    </tr>
    <tr>
        <td>Description: </td>
        <td>{{event.description}}</td>
    </tr>
    <tr>
        <td>Location: </td>
        <td><a href="{{event.location.get_absolute_url}}" class="ajax-link">{{event.location}}</td>
    </tr>
    <tr>
        <td>Time: </td>
        <td>{{event.start.time}} - {{event.end.time}}</td>
    </tr>
    <tr>
        <td>Date: </td>
        {% if event.start.date == event.end.date %}
        <td>{{event.start.date}}</td>
        {% else %}
        <td>{{event.start.date}} - {{event.end.date}}</td>
        {% endif %}
    </tr>
    <tr>
        <td>Accessibility: </td>
        <td> {{event.access}}</td>
    </tr>

    {% if event.is_free %}
    <tr>
        <td>Admission: </td>
        <td>Free</td>
    </tr>

    {% else %}
    <tr>
        <td>Admission: </td>
        <td>
            Student ${{event.student_fee}} | Staff ${{event.staff_fee}} | Public ${{event.public_fee}}
        </td>
    </tr>
    <tr>
        <td>Can Prepay? </td>
        <td>{{event.can_prepay}}</td>
    </tr>
    {% endif %}

    <!-- Show event status if user created the event, otherwise show the creator's username -->
    {% if event.creator == user %}
    <tr>
        <td>Status: </td>
        <td class="{{event.status.lower}}">{{event.status}}</td>
    </tr>
    {% else %}
    <tr>
        <td>Creator: </td>
        <td>{{event.creator.username}}</td>
    </tr>
    {% endif %}


</table>

{% if user == event.creator %}
<a href="{% url 'edit_event' event_id=event.id %}" class="btn btn-primary ajax-link">Edit</a>
<a href="{% url 'delete_event' event_id=event.id %}" class="btn btn-primary confirm">Delete</a>
{% endif %}

{% if user.is_staff %}
<a href="{% url 'approve_event' event_id=event.id %}" class="btn btn-primary confirm">Approve</a>
<a href="{% url 'deny_event' event_id=event.id %}" class="btn btn-primary confirm">Deny</a>
{% endif %}

{% if attendance_list %}
<hr>
    {% if event.can_prepay %}
        {% include 'include/prepaid_attendance_table.html' %}
    {% else %}
        {% include 'include/attendance_table.html' %}
    {% endif %}
{% endif %}


<script type="text/javascript">
$(".confirm").click(function(e){
    e.preventDefault();
    var url = $(this).attr("href");
    var msg = $(this).attr("data-msg");
    if (!msg){
        msg = "Are you sure?"
    }
    bootbox.confirm(msg, function(result){
        if(result){
            LoadAjaxContent(url);
        }
    });
});
</script>