
<h2 class="page-header">Event Details</h2>
<br>
<table class="table table-striped">
    <tr>
        <td>Name: </td>
        <td>{{event.name}}</td>
    </tr>
    <tr>
        <td>Category: </td>
        <td>{{event.category}}</td>
    </tr>
    <tr>
        <td>Description: </td>
        <td>{{event.description}}</td>
    </tr>
    <tr>
        <td>Location: </td>
        <td><a href="{{event.location.get_absolute_url}}" class="loc-ajax-link">{{event.location}}</td>
    </tr>
    <tr>
        <td>Time: </td>
        <td>{{event.start.time}} - {{event.end.time}}</td>
    </tr>
    <tr>
        <td>Date: </td>
        {% if event.start.date == event.end.date %}
        <td>{{event.start.date}}</td>
        {% else %}
        <td>{{event.start.date}} - {{event.end.date}}</td>
        {% endif %}
    </tr>
    <tr>
        <td>Accessibility: </td>
        <td>
        {% if event.is_public %}
        public
        {% else %}
        private
        {% endif %}
        </td>
    </tr>
    <tr>
        <td>Admission: </td>
        <td>Student ${{event.student_fee}} | Staff ${{event.staff_fee}} | Public ${{event.public_fee}}</td>
    </tr>
</table>
<script>
    $('.loc-ajax-link').click( function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        window.location.hash = url;
        LoadAjaxContent(url);
    });
</script>