<!--
    <div class="event-navbar  container-fluid">
      <span class="navbar-brand no-click">Event Management</span>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" class="btn btn-default"><strong>Create Event</strong></a></li>
        </ul>
    </div>
-->
<div class="box">
    <div class="box-header">
        <div class="box-name">
            <span>My Events</span>
        </div>
        <div class="box-icons">
            <a href="{% url 'create_event' %}" class="ajax-link" title="Add a new event">
                <i class="fa fa-plus"></i>
            </a>
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="expand-link" title='Expand the table'>
                <i class="fa fa-expand"></i>
            </a>
        </div>
    </div>
    <div class="box-content no-padding">
        <table class="table table-bordered table-striped table-hover table-heading table-datatable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th> 
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            <!-- Start: list_row -->
            {% for event in event_list %}

                <tr  data-href="{{event.get_absolute_url}}" class="ajax-link row-link">
                    <td>{{event.name}}</td>
                    <td>{{event.category}}</td>
                    <td> {{event.description_short}} </td>
                    <td>
                        {% if event.start.date == event.end.date %}
                            {{event.start.date}}
                        {% else %}
                            {{event.start.date}} - {{event.end.date}}
                        {% endif %}
                    </td>
                    <td>{{event.start.time}} - {{event.end.time}}</td>
                    <td>{{event.location}}</td>
                    <td class="{{event.status.lower}}">{{event.status}}</td>
                </tr>



            {% endfor %}
            
            <!-- End: list_row -->
            </tbody>
            
        </table>
    </div>
</div>
