
{% load staticfiles %}


<div class="box">
    <div class="box-header">
        <div class="box-name">
            <span>My Events</span>
        </div>
        <div class="box-icons">
            <a class="expand-link">
                <i class="fa fa-expand"></i>
            </a>
        </div>
        <div class="no-move"></div>
    </div>
    <div class="box-content no-padding">
        <table class="table table-bordered table-striped table-hover table-heading table-datatable" id="datatable-1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Location</th> 
                </tr>
            </thead>
            <tbody>
            <!-- Start: list_row -->
            {% for event in event_list %}

                <tr  data-href="{% url 'event_details' event_id=event.id %}" class="tool-ajax-link row-link">
                    <td>{{event.name}}</td>
                    <td>{{event.category}}</td>
                    <td> {{event.description}} </td>
                    <td>{{event.reservation.start_datetime.date}}</td>
                    <td>{{event.reservation.start_datetime.time}}</td>
                    <td>{{event.reservation.location}}</td>
                </tr>



            {% endfor %}
            
            <!-- End: list_row -->
            </tbody>
            
        </table>
    </div>
</div>

<script>
    $('.tool-ajax-link').click( function (e) {
        e.preventDefault();
        var url = $(this).attr('data-href');
        window.location.hash = url;
        LoadAjaxContent(url);
    });
</script>