
<h1 class="page-header">Query the Database</h1>
<form method='post' action="{% url 'query' %}" role="form" id="ajax-form">{% csrf_token %}
    <p>
        <label>{{ form.query.label }}:</label>
        {{ form.query.errors }}
        {{ form.query }}
    </p>
    <input class="btn btn-primary" type="submit" value="Query"/>

</form>
<p id="ajax-error"></p>
{% if messages %}
<ul>
{% for message in messages %}
    <li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}



<script type="text/javascript">
    var frm = $('#ajax-form');
    frm.submit( function() {
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function(data) {
                $('#ajax-content').html(data);
            },
            error: function(data) {
                $('#ajax-error').html('Form could not be submitted.');
            }
        });
        return false;
    });
</script>