{% load staticfiles %}
<!doctype html>

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'plugins/bootstrap/bootstrap.css' %}" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
        <link href="{% static 'plugins/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        {% block css %}{% endblock %}
    </head>
    <body>
    <!--Start Header-->
    <header class="navbar">
        <div class="container-fluid expanded-panel">
            <div class="row">
                <div id="logo" class="col-xs-12 col-sm-2">
                    <a href="#">RIT EMS</a>
                </div>
                <div id="top-panel" class="col-xs-12 col-sm-10">
                    <div class="row">
                        <div class="col-xs-8 col-sm-4">
                            <a href="#" class="show-sidebar">
                              <i class="fa fa-bars"></i>
                            </a>
                            
                        </div>
                        <div class="col-xs-4 col-sm-8 top-panel-right">
                            <ul class="nav navbar-nav pull-right panel-menu">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
                                        <div class="avatar">
                                            <img src="{% static 'img/avatar.jpg' %}" class="img-rounded" alt="avatar" />
                                        </div>
                                        <i class="fa fa-angle-down pull-right"></i>
                                        <div class="user-mini pull-right">
                                            <span class="welcome">Welcome,</span>
                                            <span>{{user.first_name}}</span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'logout' %}">
                                                <i class="fa fa-power-off orange"></i>
                                                <span class="hidden-sm text">Logout</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--End Header-->
    <!--Start Container-->
    <div id="main" class="container-fluid">
        <div class="row">
            <div id="sidebar-left" class="col-xs-2 col-sm-2">
                <ul class="nav main-menu">
                    <li>
                        <a href="{% url 'home' %}" class="ajax-link">
                            <i class="fa fa-home"></i>
                            <span class="hidden-xs">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'my_events' %}" class="ajax-link">
                            <i class="fa fa-thumb-tack"></i>
                            <span class="hidden-xs">My Events</span>
                        </a>
                        <!--<ul class="dropdown-menu">
                            <li><a class="ajax-link" href="ajax/charts_xcharts.html">Create Event</a></li>
                        </ul>-->
                    </li>
                    <li>
                        <a href="{% url 'all_events' %}" class="ajax-link">
                            <i class="fa fa-table"></i>
                             <span class="hidden-xs">All Events</span>
                        </a>
        
                    </li>

                    {% if user.is_staff %}
                    <!-- MOD OPTIONS -->
                    <hr/>
                    <li>
                        <a href="{% url 'pending_events' %}" class="ajax-link">
                            <i class="fa fa-clock-o"></i>
                            <span class="hidden-xs">Pending Events</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'summary_report' %}" class="ajax-link">
                            <i class="fa fa-bar-chart-o"></i>
                             <span class="hidden-xs">Summary Report</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!--Start Content-->
            <div id="content" class="col-xs-12 col-sm-10">
            <div id="ajax-content"  class="col-sm-8 col-sm-offset-2" style="margin-top:2%"> 

            {% block content %}
               <div class="preloader">
                    <img src="{% static 'img/devoops_getdata.gif' %}" class="devoops-getdata" alt="preloader"/>
                </div>
            {% endblock %}

                </div>
            </div> 

            <!--End Content-->
        </div>
    </div>
    <!--End Container-->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="http://code.jquery.com/jquery.js"></script>-->
    <script src="{% static 'plugins/jquery/jquery-2.1.0.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap-touchspin/bootstrap.touchspin.js' %}"></script>
    <script src="{% static 'plugins/bootbox/bootbox.min.js' %}"></script>
        {% block js %}{% endblock %}
    <!-- All functions for this theme + document.ready processing -->
    <script src="{% static 'js/devoops.js' %}"></script>
    </body>
</html>

