{% load staticfiles %}
<!doctype html>

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'plugins/bootstrap/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
        <link href="{% static 'plugins/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/fullcalendar/fullcalendar.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/xcharts/xcharts.min.css' %}" rel="stylesheet">
        <link href="{% static 'plugins/select2/select2.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        {% block css %}{% endblock %}
    </head>
    <body>

    {% block content %}{% endblock %}



    {% block js %}{% endblock %}
    </body>
</html>

